@import "variables";

html, body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  background: $uq-background-primary;
}

a {
  color: #2662E3;
  text-decoration: none;
  &:hover, &:focus {
    color: #9312AA;
    text-decoration: underline;
  }
}

.uq-header {
  background: $uq-purple !important;
  //  height: 102px;
  padding: 27px;
  margin-bottom: 0;
  border: none;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
  margin: 0;
}

.uq-header-logo {
  float: left;
  //  margin-top: 24px;
  padding-right: 15px;
  border-right: 1px solid #c6a9d1;
  transition: $main-transition;
  &:hover {
    -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
    transition: $main-transition;
  }
}

.uq-library-header-logo {
  float: left;
  color: #fff;
  font-size: $headline-size-font;
  margin-top:8px;
  margin-left: 15px;
  font-weight: 300;
  transition: $main-transition;
  &:hover {
    color: #fff;
    text-decoration: none;
    -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
    transition: $main-transition;
  }
}

.uq-header-links {
  margin-left: 0;
  color: $uq-background-primary !important;
  &:hover {
    color: #fff !important;
    text-decoration: none;
  }
}

.uq-main-menu {
  background: black;
  width: 100%;
  height: 33px;
  padding-top: 4px;
  white-space: nowrap;
  .active {
    background-color: $uq-background-primary;
    color: $uq-text !important;
    &:hover {
      background-color: $uq-background-primary;
    }
  }
  a {
    text-transform: uppercase;
    font-size: $caption-size-font;
    padding: 8px 14px 11px 14px;
    transition: $main-transition;
    &:hover {
      transition: $main-transition;
      text-decoration: none;
      background: #363636;
    }
  }
}

//#main {
//  margin-top: 24px;
//  height: 600px;
//}

.uq-well {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: $shadow-z-1;
  border-radius: 2px !important;
}

.text {
  font-size: $body1-size-font-desktop;
}

.uq-footer {
  font-size: $caption-size-font;
  background: $uq-purple !important;
  color: white;
  padding: 12px;
  a {
    color: white;
  }
}

.footer-info-header {
  color: rgb(234, 184, 250);
  border-bottom: 1px solid white;
  margin-bottom: 6px;
}

.footer-info {
  padding-bottom: 24px;
}


.glow {
  cursor: pointer;
  transition: $main-transition;
  &:hover {
    -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
    transition: $main-transition;
  }
}

//POLYMER STYLES

* {
  font-family: 'Roboto', sans-serif;
  /*font-size: 14px;*/
}
#main-logo {
    height: 32px;
  padding: 18px;
    transition: $main-transition;
    &:hover {
      -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
      transition: $main-transition;
    }
}
paper-dropdown {
  padding: 6px 6px 0 6px;
  core-menu {
    .core-selected {
      color: $uq-text;
    }
    paper-item {
      margin-top: 0;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
core-menu {
  margin: 0;

  .core-selected {
    color: $uq-blue;
    core-icon {
      color: $uq-blue;
    }
  }
  .content {
    margin-left: 72px;
  }
  .result {
    margin: 0 -24px;
  }
  #uq-universal-links {
    @media (min-width: 1021px) {
      display: none;
    }
  }

}
core-toolbar {
  font-size: 20px;
  font-weight: 300;
  white-space: nowrap;
  background-color: #49075E;
  color: #fff;
  transition: 300ms ease-in-out;

  #uq-link {
    margin: 0;
  }

  .responsive-menu-icon {
    @media (min-width: 1020px) {
      display: none;
    }
  }

  div ul {
    margin-top: -20px;
    @media (max-width: 1020px) {
      display: none;
    }
  li {
    display: inline;
    list-style-type: none;
    margin: 0 4px;
    a {
      text-transform: uppercase;
      font: bold 10px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
      color:#DFDFDF;
      transition: $main-transition;
      &:hover, &:active, &:focus {
        color: white;
        text-decoration: none;
        transition: $main-transition;
      }
    }
  }
  }

  .uq-link {
    margin-left: 0;
  }

  #main-logo {
    height: 32px;
    border-right: 1px solid white;
    margin-top: 5px;
    padding: 4px 18px 4px 0;
    transition: $main-transition;
    &:hover {
      -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
      transition: $main-transition;
    }
    @media (max-width: 1020px) {
      display: none;
    }
  }

  #mini-logo {
    height: 36px;
    border-right: 1px solid white;
    margin-top: 5px;
    padding: 2px 18px 2px 0;
    transition: $main-transition;
    &:hover {
      -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
      transition: $main-transition;
    }
    @media (min-width: 1021px) {
      display: none;
    }
  }

  .uq-library-header-logo {
    color: #fff;
    font-size: $body2-size-font-device;
    margin-top:0;
    margin-left: -4px;
    font-weight: 300;
    transition: $shadow-transition;
    @media (min-width: 1021px) {
      margin-left: -12px;
    }
    &:hover, &:active, &:focus {
      color: #fff;
      text-decoration: none;
      -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
      transition: $shadow-transition;
    }
  }
}
paper-tab {
  cursor: pointer;
  background-color: $uq-purple;
  color: #fafafa;
  text-transform: uppercase;
//  transition: $main-transition;
  &:hover {
//    transition: $main-transition;
    color: white;
    opacity: 1;
    border-bottom: 6px solid $uq-primary-light;
    background-color: transparentize($uq-primary-light, 0.85);
  }
}
paper-icon-button.huge::shadow #icon {
  width: 100px;
  height: 100px;
}
paper-tabs {
  transition: 300ms ease-in-out;
  height: 45px;
  background-color: $uq-purple;
  color: $uq-background-primary;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}
paper-tabs[noink][nobar] paper-tab.core-selected {
  color: $accent;
}
paper-tabs::shadow #selectionBar {
  background-color: $accent;
  height: 4px;
}
paper-tabs paper-tab::shadow #ink {
  color: $accent;
}
paper-slider {
  width: 100%;
  &::shadow {
    #sliderBar::shadow #activeProgress {
      background-color: $uq-aqua;
    }  #sliderKnobInner {
    background-color: $uq-aqua;
  }  #sliderKnobInner::before {
    background-color: $uq-aqua;
  }
}
}
[drawer] {
  background-color: #fafafa;
  box-shadow: $shadow-z-1;
//  border-right: 1px solid #ccc;
  .uq-library-header-logo {
    color: #fff;
    margin-top: 20px;
    float: right;
    font-size: 20px;
    font-weight: 300;
    transition: $shadow-transition;
    @media (max-width: 767px) {
      display: none;
    }
    &:hover, &:active, &:focus {
      color: #fff;
      text-decoration: none;
      -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
      transition: $shadow-transition;
    }
  }
  #main-logo {
    height: 32px;
    border-right: 1px solid white;
    margin-top: 12px;
    padding: 4px 18px 3px 20px;
    transition: $main-transition;
    &:hover {
      -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
      transition: $main-transition;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  #mini-logo {
    height: 36px;
    border-right: 1px solid white;
    margin-top: 10px;
    padding: 2px 18px 2px 19px;
    transition: $main-transition;
    &:hover {
      -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
      transition: $main-transition;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  .uq-library-header-logo-mini {
    color: #fff;
    margin-top: 20px;
    margin-left: 12px;
    float: right;
    font-size:20px;
    font-weight: 300;
    transition: $shadow-transition;
    &:hover, &:active, &:focus {
      color: #fff;
      text-decoration: none;
      -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,.5));
      transition: $shadow-transition;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
}
[main] {
  background-color: #eee;
}
core-animated-pages {
  height: 100%;
  transition: $main-transition;
}
paper-button {
  #login-lock {
      width: 16px;
      height: 16px;
    margin-right: 4px;
  }
  color: $uq-aqua;
//  color: white;
  transition: $main-transition;
  &:hover, &:focus {
    transition: $main-transition;
    color: $uq-aqua-hover;
    box-shadow: $shadow-z-2;
  }
  &:active {
    transition: $main-transition;
    color: $uq-aqua-active;
    box-shadow: $shadow-z-3;
  }
}
paper-input-decorator {
  margin: 0;
  padding: 0;
}
.details {
  padding: 16px 16px 0 16px;
  font-size: 12px;
  color: $uq-text;
}
#account {
//  height: 144px;
  height: 64px;
//  height: 109px;
  background-color: $uq-purple;
}
#player {
  border-top: 1px solid $uq-divider;
  padding: 2px 0 0 2px;
}
paper-item {
  color: $uq-text;
  text-decoration: none;
  &:hover, &:focus {
    background-color: #eee;
  }
  &:first-child {
    margin-top: 8px;
  }
  core-icon {
    color: $uq-text-secondary;
    margin-left: 0;
    margin-right: 32px;
  }
}
.app {
  width: 120px;
  height: 120px;
  text-align: center;
}
.home-icon {
  width: 44px;
  height: 44px;
  color: #7b0c9d;
  padding: 0;
}
html /deep/ .huge {
  color: $uq-text-secondary;
  width: 44px;
  height: 44px;
}
#close-drawer {
  color: $uq-text-secondary;
  @media (min-width: 1020px) {

    display: none;
  }
}
paper-icon-button.huge::shadow #icon {
  color: $uq-text-secondary;
  width: 44px;
  height: 44px;
}
paper-icon-button {
  transition: 150ms ease-in-out;
  border-radius: 50%;
  color: $uq-text-secondary;
  ::shadow core-icon {
    color: $uq-text-secondary;
  }
}
paper-icon-button:hover {
  transition: 150ms ease-in-out;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
}
.sidebar-header {
  margin-left: 12px;
  font-weight: 400;
  /* Wakka Wakka: */
  font-size: 24px;
}
.sidebar-header-icon {
  margin-left: 10px;
}
.iconLabel {
  margin:0;
  text-align: center;
  color: #666;
  font-size: 14px;
}
#search {
  transition: 300ms ease-in-out;
}
.iconSlide {
  transition: 300ms ease-in-out;
  opacity: 0;
  transform: translate(-1000px, 0);
  display:none;
}
.slideIn {
  transition: 300ms ease-in-out;
  opacity: 1;
  transform: translate(0, 0);
}
paper-input-decorator {
  transform: translate(1000px, 0);
  opacity: 0;
  transition: 300ms ease-in-out;
  background-image: url('../images/ic_search_white_24dp.png');
  background-repeat: no-repeat;
  background-position: 16px 8px;
  background-size: 24px;
  margin: 0;
  padding: 3px 0;
  font-size: 16px;
  padding-left: 64px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: #fafafa;
}
paper-input-decorator:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
paper-input-decorator /deep/::input-placeholder {
  /* platform specific rules for placeholder text */

  color: #fafafa;
  /*font-weight: 300;*/
}
paper-input-decorator /deep/::-webkit-input-placeholder {
  /* platform specific rules for placeholder text */

  color: #fafafa;
  /*font-weight: 300;*/
}
paper-input-decorator /deep/ .unfocused-underline {
  /* line color when the input is unfocused */

  background-color: transparent;
}
paper-input-decorator /deep/ .focused-underline {
  /* line color when the input is unfocused */

  background-color: transparent;
}
.darkText /deep/::-webkit-input-placeholder {
  color: #333;
}
.active-inverse {
  color: white;
}
#account-icon {
  padding: 18px;
  margin: 12px;
}
#account-dropdown {
  margin: 12px 12px 0 12px;
}